<!DOCTYPE html>
<html>
  <head>
    <title>WebPA {{ role }} - {{ channel }}</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/stylesheets/animate.min.css" />
      {% block head %}{% endblock %}
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="{% block bodyClass %}{% endblock %}" data-role="{{ role }}" data-channel="{{ channel }}" data-debug="{{ debug }}">
    {% block body %}{% endblock %}
    <script src="/js/vendor.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
